/* 초기설정 */
:root {
    --sec: #FDEDDE;
}
h2, p {
    margin: 0;
    padding: 0;
}

/* 레이아웃 밑작업 */
body {
    background-color: skyblue;
}
.wrapper {
    width: 900px;
    margin: 50px auto;
    background-image: url(./contents/background_img.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    display: flex;
}
.left-side {
    position: relative;
    width: 320px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.right-side {
    width: 500px;
    display: flex;
    flex-direction: column;
}

/* 얼굴 및 헤어 디자인 */
.hair {
    position: absolute;
    top: 30px;
    left: 35px;
    background-color: #A2A39D;
    width: 220px;
    height: 200px;
    border: 6px solid black;
    border-radius: 40% 40% 50% 50% ;
}
.face.bottom {
    position: absolute;
    top: 160px;
    left: 45px;
    width: 190px;
    height: 100px;
    border: 6px solid black;
    border-radius: 0 0 210px 150px ;
    border-top: none;
    background-color: var(--sec);
}
.face .rec {
    position: absolute;
    top: -40px;
    left: 0;
    width: 190px;
    height: 40px;
    background-color: var(--sec);
    border-radius: 20px 40px 0 0;
}
.fronthead {
    position: absolute;
    background-color: var(--sec);
}
.fronthead.left {
    top: 85px;
    left: 52px;
    width: 90px;
    height: 60px;
    border-radius: 40px 180% 10% 0 ;
}
.fronthead.right {
    top: 85px;
    left: 110px;
    width: 110px;
    height: 60px;
    border-radius: 180% 80px 0% 130%;
    transform: rotate(-5deg);
}

/* 귀 디자인 */
.ear {
    position: absolute;
    background-color: var(--sec);
    border: 6px solid black;

}
.ear.right {
    top: 155px;
    left: 230px;
    width: 40px;
    height: 50px;
    border-radius: 50% 40% 50% 10%;
}
.ear.left {
    top: 160px;
    left: 27px;
    width: 20px;
    height: 50px;
    border-radius: 60% 50% 0 100%;
}

/* 눈 디자인 */
.eye {
    position: absolute;
    background-color: #FEFCF9;
}
.eye.left {
    top: 150px;
    left: 60px;
    width: 40px;
    height: 65px;
    border-radius: 50% 50% 100% 110%;
}
.eye.right {
    top: 150px;
    left: 145px;
    width: 65px;
    height: 65px;
    border-radius: 20% 50% 40% 40%;
}
.eye_apple_black {
    position: absolute;
    background-color: black;
}
.eye_apple_black.left {
    top: 5px;
    left: 10px;
    width: 25px;
    height: 53px;
    border-radius: 20% 20% 50% 40%; 
}
.eye_apple_black.right {
    top: 5px;
    left: 10px;
    width: 30px;
    height: 53px;
    border-radius: 20% 20% 40% 50%;
}
.eye_apple_blue {
    position: absolute;
    top: 30px;
    left: 10px;
    background-color:whitesmoke;
    border-radius: 40%;
    box-shadow: inset 2px 3px 5px 3px #132E60;
}
.eye_apple_blue.left {
    width: 10px;
    height: 15px;
}
.eye_apple_blue.right {
    width: 15px;
    height: 15px;
}
.eye_apple_whitedot {
    position: absolute;
    background-color:whitesmoke;
}
.eye_apple_whitedot.left {
    top: 5px;
    left: 3px;
    width: 8px;
    height: 14px;
    border-radius: 5px;
}
.eye_apple_whitedot.right {
    top: 5px;
    left: 3px;
    width: 16px;
    height: 20px;
    border-radius: 5px 10px 20px 10px;
}
.eyeline {
    position: absolute;
}
.eyeline.left-top {
    width: 55px;
    height: 50px;
    top: 147px;
    left: 43px;
    border: 10px solid transparent;
    border-top: 10px solid black;
    border-radius: 100% 120% 0 0;
}
.eyeline.right-top {
    width: 85px;
    height: 50px;
    top: 147px;
    left: 125px;
    border: 10px solid transparent;
    border-top: 10px solid black;
    border-radius: 100% 120% 0 0;
}
.eyeline.left-bottom {
    background-color: black;
    top: 214px;
    left: 72px;
    width: 23px;
    height: 6px;
    border-radius: 2px;
}
.eyeline.right-bottom {
    background-color: black;
    top: 214px;
    left: 165px;
    width: 35px;
    height: 6px;
    border-radius: 2px;
}
.eyebrow {
    position: absolute;
    background-color: black;
}
.eyebrow.left {
    top: 140px;
    left: 56px;
    width: 52px;
    height: 15px;
    border-radius: 5px 100% 5px 5px;
    transform: rotate(10deg);
}
.eyebrow.right {
    top: 138px;
    left: 135px;
    width: 84px;
    height: 20px;
    border-radius: 150% 50px 5px 5px;
    transform: rotate(-10deg);
}

/* 입 디자인 */
.mouth {
    position: absolute;
    top: 75px;
    left: 62px;
    background-color: black;
    width: 15px;
    height: 10px;
    border-radius: 3px;
}    
.glasses {
    top: 190px;
    position: absolute;
    width: 40px;
    height: 15px;
    border: 3px solid brown;
    border-radius: 5px;
}
.glasses.left{
    left: 65px;
}
.glasses.right{
    left: 135px;
}
.glasses-line {
    position: absolute;
    top: 200px;
    left: 110px;
    width: 25px;
    border-top: 3px solid brown;
}

/* 몸 디자인 */
.body {
    position: absolute;
    top: 260px;
    left: 60px;
    background-color: var(--sec);
    width: 160px;
    height: 210px;
    border-radius: 40% 80% 0 80%;
    border: 6px solid black;
    transform: rotate(40deg);
}
.clothes {
    position: absolute;
    top: 260px;
    left: 95px;
    background-color: orange;
    width: 100px;
    height: 210px;
    border-radius: 50% 80% 0 80%;
    border: 6px solid black;
    transform: rotate(10deg);
    overflow: hidden;
}
.neck {
    position: absolute;
    top: 240px;
    left: 140px;
    background-color: var(--sec);
    width: 15px;
    height: 30px;
    border: 6px solid black;
    border-radius: 50%;
    transform: rotate(50deg);
}
.macbook-front {
    position: absolute;
    left: 50px;
    top: -23px;
    width: 130px;
    height: 90px;
    background-image: url(./contents/맥북.png);
    background-position-x: -16px;
    background-position-y: -35px;
    background-size: 130%;
    transform: rotate(-30deg);
    border: 6px solid black;
    border-radius: 10px;
}
.macbook-back {
    position: absolute;
    left: 160px;
    top: 260px;
    width: 130px;
    height: 90px;
    background-image: url(./contents/맥북.png);
    background-position-x: -16px;
    background-position-y: -35px;
    background-size: 130%;
    transform: rotate(-20deg);
    border: 6px solid black;
    border-radius: 10px;
}

/* 아이디박스 디자인 */
.id {
    position: absolute;
    top: 310px;
    left: 45px;
    width: 210px;
    background-color: rgba( 0, 0, 0, 0.7 );
    font-size: 30px;
    color: white;
    text-align: center;
}

/* 말풍선 디자인 */
.text-bubble {
    position: relative;
    margin-top: 50px;
    width: 230px;
    height: 70px;
    padding: 10px;
    font-size: 1.4em;
    text-align: center;
    border: 6px solid black;
    border-radius: 20px;
    background-color: #FEFCF9;
}
.text-bubble::before {
	content: '';
    top: 90px;
    left: 40px;
    width: 10px;
    height: 20px;
	position: absolute;
    background-color: #FEFCF9;
    border: 5px solid black;
    border-top: none;
    border-radius: 0 0 120% 0;
}

/* text 및 audio 디자인 */
.bgm {
    margin-top: 360px;
}
